<div class="wrapper">
  <app-vmenu></app-vmenu>
  <div class="content">
    <header></header>
    <section>
      <div id="visitors-map" class="widget">
        <div class="widget-title">
          <h2>Visitors location</h2>
        </div>
        <div>
          <ul class="country-statistics">
            <li>
              <span class="country-title">United States</span>
              <span class="pull-right">30%</span>
            </li>
            <li>
              <span class="country-title">India</span>
              <span class="pull-right">30%</span>
            </li>
            <li>
              <span class="country-title">Poland</span>
              <span class="pull-right">30%</span>
            </li>
            <li>
              <span class="country-title">Russian Federation</span>
              <span class="pull-right">30%</span>
            </li>
            <li>
              <span class="country-title">Ukraine</span>
              <span class="pull-right">30%</span>
            </li>
          </ul>
        </div>
        <div class="jqvmap"></div>
      </div>
    </section>
  </div>
</div>
