<div class="wrapper">
  <app-vmenu></app-vmenu>
  <div class="content">
    <header>
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['overview']">Overview</a></li>
        <li><a [routerLink]="['compose']">Compose</a></li>
        <li><a [routerLink]="['categories']">Categories</a></li>
      </ul>
    </header>
    <section id="articles-overview">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
