<div class="modal" id="important-msg" tabindex="-1" role="dialog" aria-labelledby="important-msg-label" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="cancel()">
          <span aria-hidden="false">&times;</span>
        </button>
        <h4 class="modal-title" id="important-msg-label">{{message}}</h4>
      </div>
      <div class="modal-body">
        <input *ngFor="let i of inputs" class="form-control" [type]="i.type" [placeholder]="i.name" [(ngModel)]="i.value">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="submit()">Confirm</button>
      </div>
    </div>
  </div>
</div>