<div class="v-menu">
  <div class="logo">

  </div>
  <ul class="menu-items">
    <li>
      <a class="text-center" [routerLink]="['/']">
        <div class="fa fa-bar-chart"></div>
        <div class="menu-item-label">Summary</div>
      </a>
    </li>
    <li>
      <a class="text-center" [routerLink]="['/articles']">
        <span class="fa fa-newspaper-o"></span>
        <span class="menu-item-label">Articles</span>
      </a>
    </li>
    <li>
      <a class="text-center" [routerLink]="['/users']">
        <span class="fa fa-user"></span>
        <span class="menu-item-label">Users</span>
      </a>
    </li>
    <li>
      <a class="text-center" [routerLink]="['/settings']">
        <span class="fa fa-gear"></span>
        <span class="menu-item-label">Settings</span>
      </a>
    </li>
    <li>
      <a class="text-center" (click)="logout()">
        <span class="fa fa-sign-out"></span>
        <span class="menu-item-label">Log out</span>
      </a>
    </li>
  </ul>
</div>
