<section>
  <div id="new-article-widget" class="widget">
    <div class="widget-title">
      <h2>New article</h2>
    </div>
    <div>
      <form>
        <label for="title">Title</label>
        <input [(ngModel)]="article.title" name="article.title" id="title" type="text" class="form-control" autocomplete="off">
        <label for="description">Description</label>
        <input [(ngModel)]="article.description" name="article.description" id="description" type="text" class="form-control" autocomplete="off">
        <label for="category">Category</label>
        <select *ngIf="articleCategories" [(ngModel)]="article.categoryName" id="category" name="article.category" class="selectpicker">
          <option data-hidden="true">Select category...</option>
          <option *ngFor="let category of articleCategories" [value]="category.name">{{category.name}}</option>
        </select>
        <!--suppress XmlInvalidId -->
        <label for="ckeditor">Content</label>
        <ckeditor [(ngModel)]="article.content" id="ckeditor" name="article.content"></ckeditor>
        <!--suppress XmlInvalidId -->
        <label for="tags">Tags</label>
        <rl-tag-input [(ngModel)]="article.tagNames" name="article.tagNames" id="tags"></rl-tag-input>
        <button (click)="submit()" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</section>
