<div class="widget">
  <div class="widget-title">
    <h2>Articles</h2>
    <div class="widget-actions">
      <a [routerLink]="['/articles/compose']"><span class="fa fa-plus"></span></a>
      <a (click)="edit()" [class.disabled]="!isSingleRowSelected()" title="Edit"><span class="fa fa-edit"></span></a>
      <a (click)="remove()" [class.disabled]="!isAnyRowSelected()" title="Remove"><span class="fa fa-trash"></span></a>
    </div>
  </div>
  <div>
    <table class="table table-selectable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Author</th>
          <th>Title</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles" (click)="handleRowClick(article)" [class.selected]="selectedArticles.includes(article)">
          <td>{{article.createdOn}}</td>
          <td>{{article.createdBy}}</td>
          <td>
            <a href="#">{{article.title}}</a>
          </td>
          <td>Published</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
