/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    background-color: #F7F7F7;
}
li {
    list-style: none;
}
a:hover {
    cursor: pointer;
}
a.disabled {
    pointer-events: none;
    cursor: default;
    color: #D9DEE4 !important;
}
.wrapper {
    height: 100%;
}
.table tr:first-of-type td {
    border-top: none;
}
.v-menu {
    position: fixed;
    height: 100vh;
    width: 75px;
    background-color: #1FA67B;
}
.v-menu .menu-items {
    padding: 0;
}
.v-menu .menu-items a {
    display: inline-block;
    min-width: 100%;
    padding: 20px 0;
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
}
.v-menu .menu-items a:hover {
    background-color: #1B8F6A;
}
.v-menu .menu-items .fa {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}
.content {
    margin-left: 75px;
}
header {
    height: 60px;
    background-color: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
}
.widget {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px;
    border: 1px solid #D9DEE4;
}
.widget .widget-title {
    display: inline-block;
    width: 100%;
    color: #73879C;
    border-bottom: 1px solid #E6E9ED;
    margin-bottom: 20px;
}
.widget .widget-title h2 {
    font-size: 16px;
    margin-top: 5px;
    float: left;
}
.widget .widget-actions {
    float: right;
}
.widget .widget-actions > a {
    color: #73879C;
    font-size: 16px;
    margin: 0 5px;
}
.widget .widget-actions > a:hover {
    color: #73879C;
}
.widget label {
    font-weight: 400;
    font-size: 14px;
    color: #73879C;
    display: block;
}
.widget .bootstrap-select .btn {
    border-color: #D9DEE4;
    color: #73879C;
    border-radius: 0;
    box-shadow: none;
}
.open>.dropdown-toggle.btn-default {
    background-color: #FFFFFF;
}
.open>.dropdown-toggle.btn-default:hover {
    border-color: #D9DEE4;
    color: #73879C;
    background-color: #E6E9ED;
}
.widget .bootstrap-select .btn,
.widget .bootstrap-select a:focus {
    outline: none !important;
}
#visitors-map .country-title {
    margin-right: 30px;
}
#visitors-map .pull-left {
    margin-right: 20px;
}
#visitors-map .country-statistics {
    padding: 0;
}
#visitors-map .country-statistics li {
    border-top: 1px solid #ededed;
    padding: 5px 0;
}
.jqvmap {
    width: 300px;
    height: 180px;
}
.jqvmap-zoomin,
.jqvmap-zoomout {
    right: 10px;
    left: auto;
    box-sizing: unset;
    background-color: #1C9963;
}
#articles-overview > div {
    display: inline-block;
    width: 100%;
}
#new-article-widget input {
    margin-bottom: 10px;
    box-shadow: none;
    border-color: #D9DEE4;
    border-radius: 0;
}
.widget .cke, .widget .bootstrap-select {
    margin-bottom: 20px !important;
}
rl-tag-input {
  //border: 1px solid #D9DEE4;
  margin-bottom: 20px;
  padding: 0 !important;
  box-shadow: none !important;
}
.ng2-tag-input-focus {
  box-shadow: none !important;
}
rl-tag-input input {
  margin: 0 !important;
}
.ng2-tag-input-field {
  font-size: 14px !important;
}
.ng2-tag-input-item-selected {
  background-color: #1FA67B !important;
}
.ng2-tag-input-item-selected .ng2-tag-input-remove {
  color: #1FA67B !important;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 19px;
        padding-bottom: 20px;
        color: #8996A9;
    }
    .navbar-nav > li > a:hover {
        background-color: #D9DEE4;
    }
}
