<section class="widget">
  <div class="widget-title">
    <h2>Categories</h2>
    <div class="widget-actions">
      <a (click)="create()" title="Add"><span class="fa fa-plus"></span></a>
      <a (click)="edit()" [class.disabled]="!isSingleRowSelected()" title="Edit"><span class="fa fa-edit"></span></a>
      <a (click)="remove()" [class.disabled]="!isAnyRowSelected()" title="Remove"><span class="fa fa-trash"></span></a>
    </div>
  </div>
  <div>
    <table class="table table-selectable">
      <thead>

      </thead>
      <tbody>
        <tr *ngFor="let category of categories" (click)="handleRowClick(category)" [class.selected]="selectedCategories.includes(category)">
          <td>{{category.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
